*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{ 
    font-family: 'Pacifico';
    src: url('Pacifico.eot');
    src: url('Pacifico.eot?#iefix') format('embedded-opentype'),
        url('Pacifico.ttf') format('truetype'),
        url('Pacifico.svg#webfont') format('svg');
}

body {
    width: 100%;
    height: 100%;
    background: url(../images/bg.png) no-repeat center fixed;
    background-size: cover;
    color: white;
}

header {
    width: 100%;
    height: 100vh;
}

.landing {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.landing h1 {
    font-family: 'Pacifico', Arial, sans-serif;
    font-size: 12rem;
}

.landing h4 {
    font-family: 'Montserrat', sans-serif;
}

.content-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: black 2px 2px 0px;
    text-align: center;
    width: 90%;
    margin-top: 60px;
    margin-bottom: 20px;
}

#about-content {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: black 2px 2px 0px;
    text-align: left;
    font-size: 20px;
    padding-bottom: 240px;
    width: 85%;
}

.btn {
    left: 50%;
    right: 50%;
    color: white;
    display: block;
}

.btn:hover {
    color: #c04c9f
}

.tech-icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 260px;
}

.project-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-bottom: 140px;
    /* height: 100% */ 
}

.project-card {
    display: flex;
    max-width: 485px;
    margin: 8px;
}

.project-img {
    max-width: 485px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    /* background-color: rgb(28, 28, 57, 0.9); */
    background-color: rgb(37, 27, 55, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-card:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: black 2px 2px 0px;
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.link-live,
    .link-git {
    position: absolute;
    padding: 8px;
}

.link-live {
    bottom: 0;
    right: 0;
}

.link-git {
    bottom: 0;
    left: 0;
}

a, a:active, a:visited {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #c04c9f;
}

#sticky-footer {
    background-color: #251b37;
    margin-top: 180px;
}
